<launch>
	<!-- <arg name="map_file" default="$(find guardian_config)/localization/maps/deltamatic/ship_interior_corner_navigation_25mm.yaml" /> -->
	<arg name="map_file" default="$(find guardian_config)/localization/maps/deltamatic/map_delta_back_navigation.yaml" />

	<node name="map_server_navigation" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="map" />
		<remap from="/map" to="/map_navigation" />
	</node>

	<node name="oea_planner" pkg="my_planner" type="my_planner" output="screen">
		<remap from="/map" to="/map_navigation" />
		<param name="global_frame_id" value="map" />
		<param name="base_frame_id" value="base_footprint" />
		<param name="robot_x_size" value="1.20" />
		<param name="robot_y_size" value="0.55" /> <!-- tracks: 0.55 --><!-- wheels: 0.8 -->
		<param name="inflate_map_borders" value="false" />
		<param name="stop_at_exact_target" value="false" /> <!-- true = stops in the exact cell, false = stops at one of the neighbors -->
		<param name="allow_unkown" value="true" />
		<param name="publish_entire_pcd" value="false" />
		<param name="use_frontal_laser" value="true" />
		<param name="use_back_laser" value="true" />
	</node>
</launch>

