#
#   rosconsole will find this file by default at $ROS_ROOT/config/rosconsole.config
#
#   You can define your own by e.g. copying this file and setting
#   ROSCONSOLE_CONFIG_FILE (in your environment) to point to the new file
#
log4j.logger.ros=INFO
log4j.logger.ros.roscpp.superdebug=WARN
log4j.logger.ros.dynamic_robot_localization=INFO
log4j.logger.ros.pose_to_tf_publisher=INFO
log4j.logger.ros.laserscan_to_pointcloud=INFO
log4j.logger.ros.octomap_server=INFO
log4j.logger.ros.robot_localization=DEBUG
