<launch>
	<node name="oea_planner" pkg="oea_planner" type="oea_planner" output="screen">
		<remap from="/map" to="/map_navigation" />
		<param name="global_frame_id" value="map" />
		<param name="base_frame_id" value="base_footprint" />
		<param name="robot_x_size" value="1.15" />
		<param name="robot_y_size" value="0.55" /> <!-- tracks: 0.55 --><!-- wheels: 0.8 -->
		<param name="inflate_map_borders" value="false" />
		<param name="stop_at_exact_target" value="false" /> <!-- true = stops in the exact cell, false = stops at one of the neighbors -->
		<param name="allow_unkown" value="true" />
		<param name="publish_entire_pcd" value="false" />
		<param name="use_frontal_laser" value="true" />
		<param name="use_back_laser" value="true" />
		<param name="cost_scale" value="0" />
		<param name="level_closest" value="0" />
		<param name="level_middle" value="0" />
		<param name="level_farthest" value="0" />
	</node>
</launch>

