<?xml version="1.0"?>
<launch>
	<arg name="use_6dof" default="false" />
	<arg name="use_projection_mapping" default="false" />
	<arg name="save_bags" default="true" />
	<param name="/use_sim_time" value="false" />

	<include file="$(find guardian_config)/hardware/guardian_state_publisher.launch" />
	<include file="$(find guardian_config)/hardware/guardian_driver_motors.launch" />
	<include file="$(find guardian_config)/hardware/guardian_driver_motors_odom_tf.launch" />
	<include file="$(find guardian_config)/hardware/guardian_driver_laser_back.launch" />
	<include file="$(find guardian_config)/hardware/guardian_driver_laser_back_supervisor.launch" />
	<include file="$(find guardian_config)/hardware/guardian_driver_laser_front.launch" />
	<include file="$(find guardian_config)/hardware/guardian_driver_laser_front_supervisor.launch" />

	<include file="$(find guardian_config)/hardware/guardian_driver_laser_front_tilt.launch">
		<arg name="use_tilt" default="true" if="$(arg use_6dof)" />
		<arg name="use_tilt" default="false" unless="$(arg use_6dof)" />
	</include>

	<!-- <include file="$(find guardian_config)/hardware/guardian_driver_relays.launch" /> -->

	<include file="$(find guardian_config)/hardware/guardian_driver_structure_io.launch" if="$(arg use_6dof)" />
	<!-- <include file="$(find guardian_config)/hardware/guardian_driver_imu.launch" /> -->
	<!-- <include file="$(find guardian_config)/hardware/guardian_driver_rpi.launch" /> -->

	<include file="$(find guardian_config)/pad/guardian_pad.launch">
		<!-- <arg name="pad_configuration" default="ps3" /> -->
	</include>

	<!-- <include file="$(find guardian_config)/localization/ukf_sensor_fusion_odom_imu.launch" /> -->
	<include file="$(find guardian_config)/localization/guardian_localization.launch" />
	<include file="$(find guardian_config)/control/guardian_control.launch" />
	<include file="$(find guardian_config)/planning/guardian_planner_lab.launch" />
	<include file="$(find gazebo_projection_mapping)/launch/gazebo_projection_mapping.launch" if="$(arg use_projection_mapping)" />

	<include file="$(find guardian_config)/bags/guardian_save_bag.launch" if="$(arg save_bags)">
		<arg name="compress_rosbags" default="false" />
	</include>
</launch>

