<?xml version="1.0"?>
<launch>
	<!-- FRONT HOKUYO -->
	<node name="hokuyo_front" pkg="urg_node" type="urg_node" respawn="false" output="screen">
		<remap from="/scan" to="/guardian/laser_tilt_front" />
		<param name="ip_address" type="string" value="192.168.0.10" />
		<param name="calibrate_time" type="bool" value="true" />
		<param name="intensity" type="bool" value="false" />
		<param name="frame_id" value="hokuyo_front_laser_link" />
		<param name="angle_min" type="double" value="-2.0943951" />
		<param name="angle_max" type="double" value="2.0943951" />
		<param name="skip" type="int" value="0" />
	</node>
</launch>
