<?xml version="1.0"?>
<launch>
	<arg name="use_wheels" default="0" />
	
	<include file="$(find guardian_description)/launch/guardian_description.launch" >
		<arg name="use_wheels" default="$(arg use_wheels)" />
	</include>
	
	<node name="robot_state_publisher_base" pkg="robot_state_publisher" type="state_publisher" />
</launch>
