<?xml version="1.0"?>
<launch>
	<node type="guardian_node_nxt" name="guardian_node" pkg="guardian_node" output="screen">
		<remap from="/joint_states" to="/joint_states_temp" />
		<param name="motor_dev" value="/dev/vscom_usb_com_cable" type="string"/> <!-- Rs232-USB -->
		<param name="modbus_io_topic" value="/modbus_io/input_output" type="string"/>
		<param name="max_linear_speed" value="1.5" type="double"/> <!-- m/s -->
		<param name="max_angular_speed" value="60.0" type="double"/> <!-- degrees/s -->
		<rosparam command="load" file="$(find guardian_config)/hardware/guardian_driver_motors_conf.yaml" />
		<param name="publish_tf" value="false" type="boolean"/>
		<param name="invert_odom_tf" value="false" type="boolean"/>
	</node>
	<!-- tf publisher for localization pose -->
	<node pkg="pose_to_tf_publisher" type="pose_to_tf_publisher_node" name="drl_pose_to_tf_publisher_node_using_odometry" output="screen">
		<param name="publish_rate" type="double" value="-1.0" />
		<param name="pose_stamped_topic" type="str" value="" />
		<param name="pose_with_covariance_stamped_topic" type="str" value="" />
		<param name="odometry_topic" type="str" value="/guardian/odom" />
		<param name="map_frame_id" type="str" value="odom" />
		<param name="odom_frame_id" type="str" value="base_footprint" />
		<param name="base_link_frame_id" type="str" value="" />
		<param name="invert_tf_transform" type="bool" value="false" />
		<param name="invert_tf_hierarchy" type="bool" value="false" />
		<param name="transform_pose_to_map_frame_id" type="bool" value="true" />
		<param name="publish_initial_pose" type="bool" value="false" />
	</node>
</launch>
