<launch>

	<!-- control node -->
	<node name="oea_controller" pkg="oea_controller" type="oea_controller" output="screen">

		<!-- simulation and real robot -->
		<remap from="/cmd_vel" to="/guardian/cmd_vel" />
		<remap from="/front_laser_scan" to="/guardian/laser_tilt_front" />
		<remap from="/back_laser_scan" to="/guardian/laser_horizontal_back" />


		<param name="global_frame_id" value="map" />
		<param name="base_frame_id" value="base_footprint" />
		<param name="plan_topic" value="/oea_planner/plan"/> 

		<!-- Tolerance and velocity parameters -->
		<param name="tolerance_d" value="0.05" />
		<param name="tolerance_yaw_deg" value="20.0" />

		<param name="tolerance_d_last_point" value="0.05" />
		<param name="tolerance_yaw_deg_last_point" value="2.5" />

		<param name="tolerance_erro_theta2" value="85" />

		<param name="min_linear_vel" value="0.03" />
		<param name="max_linear_vel" value="0.3" />

		<param name="min_angular_vel" value="0.02" />
		<param name="max_angular_vel" value="0.4" />
		<param name="max_angular_vel_hard" value="999.0" />

		<!-- PD controller parameters -->
		<!-- simulation -->
		<!--<param name="Kp" value="0.8"/> <param name="Kd" value="0.02"/> <param name="Kff" value="0.3"/> -->

		<!-- real robot -->
		<param name="Kp" value="2.0" />
		<param name="Kd" value="0.0" />
		<param name="Kff" value="0.3" />

		<param name="limit_velocity" value="true" />
		<param name="keep_ratio" value="true" />  <!-- keep v/w cte while limiting velocity -->
		<param name="K" value="0.0" />  <!-- v/w -->

		<param name="timeout" value="30" />
		<param name="obstacle_detection" value="true" />
		<param name="error_deviation" value="5.0" />  <!-- degrees -->
		<param name="scale_on_curves" value="0.3" />  <!-- 30% speed -->

		<!-- Laser safety area is a rectangle around each laser -->
		<!-- PROTECTIVE FIELD (STOP) -->
		<param name="forward_protective_distance" value="0.18" />  <!-- laser distance (forward) (meters) -->
		<param name="lateral_protective_distance" value="0.3" />  <!-- laser distance (lateral) (meters) -->
		<!-- WARNING FIELD (DEACCEL) -->
		<param name="forward_warning_distance" value="0.6" />  <!-- laser distance (forward) - to DEACCEL CLOSE TO OBSTACLES (meters) -->
		<param name="lateral_warning_distance" value="0.6" />  <!-- laser distance (lateral) - to DEACCEL CLOSE TO OBSTACLES (meters) -->

		<param name="send_markers" value="true" />  <!-- send laser markers -->

		<param name="stop_with_joystick" value="false" />  <!-- use joystick to stop the robot -->

		<param name="use_yaw_on_middle_points" value="true" />  <!-- use orientation information in the middle path points -->

		<param name="threshold_d" value="0.2" />  <!-- distance to deaccel -->
	</node>
</launch>

