<launch>

	<!-- control node -->
	<node name="oea_controller" pkg="oea_controller" type="oea_controller" output="screen">

		<!-- simulation and real robot -->
		<remap from="/cmd_vel" to="/guardian/cmd_vel" />
		<remap from="/front_laser_scan" to="/guardian/laser_tilt_front" />
		<remap from="/back_laser_scan" to="/guardian/laser_horizontal_back" />

		<rosparam file="$(find guardian_config)/control/params/params_delta_tracks.yaml" command="load" />
	
	</node>
</launch>

