<launch>
	<node name="decision" pkg="srau_decision" type="srau_decision_node">
		<rosparam command="load" file="$(find guardian_config)/decision/pose_goals.yaml" ns="pose_goals" />
		<param name="min_position_error" value="0.35" />
		<param name="min_orientation_error" value="20" />
		<param name="synchronous" value="false" />
		<remap from="/pose_goal" to="/move_base_simple/goal" />
	</node>
</launch>
