<launch>
  <node name="decision" pkg="srau_decision" type="srau_decision_node">
  	<remap from="/pose_goal" to="/move_base_simple/goal"/> <!-- /nav_goal -->
    <rosparam command="load" file="$(find guardian_config)/decision/pose_goals_delta_5.yaml" ns="pose_goals"/>
    <param name="min_position_error" value="0.1"/>
    <param name="min_orientation_error" value="3.0"/>
    <param name="synchronous" value="false"/>
  </node>
</launch>
